.medicine-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: white;
  border-top: 1px solid #e5e7eb;
  margin-bottom: 8px;
  min-width: 355px;
}

.medicine-content {
  margin-top: 16px;
}

.medicine-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.medicine-name {
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff0000;
  font-size: 1.5rem;
}


.medicine-quantity-controls {
  display: flex;
  gap: 20px;
  padding: 2px 20px;
  background-color: #f3f4f6;
  border-radius: 8px;
}

.decrease-button,
.increase-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.medicine-quantity {
  font-size: 1.125rem;
  font-weight: bold;
}

.medicine-expiredate{
  margin-top: 20px;
}


.medicine-expiredate input{
  border: 1px solid dodgerblue;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}
