h1 {
  color: dodgerblue;
  text-align: center;
  margin: 5rem 2rem;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.level1{ margin-bottom: 1rem ;}

.level1, .level2 {
  display: flex;
  justify-content: space-between;
}

.grafica {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 48%;
  transition: transform 0.3s ease;
}

.grafica:hover {
  transform: translateY(-5px);
}

h2 {
  color: dodgerblue;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.container-grafica {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .level1, .level2 {
    flex-direction: column;
  }
  
  .grafica {
    width: 100%;
    margin-bottom: 20px;
  }
}