<h1>Bienvenido {{name}}</h1>
<div class="cont">
  <div class="level1">
    <div class="grafica">
      <h2>Medicinas más donadas</h2>
      <div class="container-grafica">
        <canvas id="Chart1"></canvas>
      </div>
    </div>
    <div class="grafica">
      <h2>Medicinas más pedidas</h2>
      <div class="container-grafica">
        <canvas id="Chart2"></canvas>
      </div>
    </div>

  </div>
  <div class="level2">
    <div class="grafica">
      <h2>Más pedidos por comunidad</h2>
      <div class="container-grafica">
        <canvas id="Chart3"></canvas>
      </div>
    </div>
    <div class="grafica">
      <h2>Enfermedades más comunes por paciente</h2>
      <div class="container-grafica">
        <canvas id="Chart4"></canvas>
      </div>
    </div>

  </div>
</div>

