<div class="container">
  <section class="patient-card">
    <div class="patient-card-header">
      <h2>{{ delivery?.patientData?.id_card }}</h2>
      <p class="id-card">Status económico - {{delivery?.patientData?.economic_status }}</p>
      <p class="id-card">Vulnerabilidad - {{ delivery?.patientData?.vulnerability_level }}</p>
    </div>
    <div class="patient-card-body">
      <div class="contact-info">
        <div class="info_flex">
          <p>Dirección <span>{{ delivery?.patientData?.address }}</span></p>
          <p>Género <span>{{ delivery?.patientData?.gender }}</span></p>
        </div>
        <div class="info_flex">
          <p>Teléfono <span>{{ delivery?.patientData?.phone }}</span></p>
          <p>Correo Electrónico <span>{{ delivery?.patientData?.email }}</span></p>
        </div>
      </div>
      <div class="pathologies">
        <h3>Medicinas</h3>
        <ng-container *ngIf="medicationList.length > 0; else noMedication">
        <ul>
          <li *ngFor="let me of delivery?.deliveryDetails?.medications; let index = index" [attr.key]="index">
            {{ me.medication_name }}
          </li>
        </ul>
      </ng-container>
      <ng-template #noMedication>No hay medicinas asignadas</ng-template>
      </div>
    </div>
  </section>
</div>
