.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 9rem 1rem;
}

p{
    font-size: 16px;
    font-weight: 500;
    color: #9d999b;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.inputForm{
    font-size: 16px;
    padding: .5rem;
    width: 100%;
    border-radius: 4px;
    border: solid 2px #DED2D9;   
}

.inputForm:focus{
    outline: none;
}