<main class="wrapper">
  <div class="header-cont">
    <h2>Selecciona un Paciente</h2>
    <div>
      <app-search-bar-input
        placeholder="Insertar Cedula"
        (search)="realizarBusqueda(+$event)"
        (clean)="limpiarBusqueda()"
      ></app-search-bar-input>
    </div>
  </div>

  <div class="cards-cont">
    <app-card-pacientes
      *ngFor="let patient of (filteredPatients.length ? filteredPatients : pacientes)"
      [pacient]="patient"
      (click)="seleccionarPaciente(patient)"
    ></app-card-pacientes>
  </div>
</main>
